/* Style for table header */
.header_custom table thead > tr > th {
    background-color: #1F7A8C !important; /* did't show when i didn't write !important */
    color: #ffffff !important; /* Set text color */
    font-size: 16px; /* Adjust font size */
    text-align: center; /* Center the text */
    border: 1px solid #ddd; /* Light border for each header */
    font-weight: bold; /* Make the text bold */
    transition: background-color 0.3s ease; /* Smooth transition for hover effect */
}

/* Style for second header cell */
.header_custom table thead > tr > th:nth-child(2) {
    width: 250px; /* Set fixed width for second column */
}

/* Hover effect for header cells */
.header_custom table thead > tr > th:hover {
    background-color: #18606f !important; /* Change background color on hover */
    cursor: pointer; /* Show pointer cursor on hover */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Add a shadow on hover */
}



/* Table data styling */
.header_custom table tbody td {
    padding: 10px 15px; /* Add padding inside each table cell */
    text-align: left; /* left-align text */
    font-size: 14px; /* Adjust font size */
    color: #333; /* Text color */
    background-color: #EDF5FD !important; /* Light background color for rows */
    border-bottom: 1px solid #ddd !important; /* Border between rows */
    transition: background-color 0.3s ease !important; /* Smooth transition for hover effect */
}

/* Hover effect for table rows */
.header_custom table tbody td:hover {
    background-color: #BFDBF7 !important; /* Change background on row hover */
    cursor: pointer !important; /* Show pointer cursor when hovering over a row */
}
